:root {
    --signup: #1888ff;
    --logout: #ce1931;
    --create: #0da82f;
}

.nav_btn {
    margin: 0px 10px;
    padding: 8px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--signup);

    :hover {
        padding: 6px 10px;
        transition: all 0.3s ease-out;
        background-color: transparent;
        color: #fff;
        border-radius: 4px;
        border: 2px solid var(--signup);
    }
}

#create_article_btn {
    background-color: var(--create);

    :hover {
        background-color: transparent;
        border: 2px solid var(--create);
    }
}

#logout {
    background-color: var(--logout);

    :hover {
        background-color: transparent;
        border: 2px solid var(--logout);
    }
}
